@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:white">
    <h1 class="display-4">Welcome</h1>
    <p>Made with <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p
    <p>and deployed on <a href="https://azure.microsoft.com/en-us/">Azure Services</a></p>
</div>
